<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center px-5 py-3">
            <h1>Director Journal</h1>
            <a class="btn btn-primary" href="/" role="button">Home</a>
        </div>
        <div>  
        <form id="actorForm" method="post" action="/DirectorJournal">
            <table id="join_values" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr id="searchDirector">
                        {% for _ in columns %}
                        <td><input type="text" class="form-control" name="searchDirector" placeholder="Enter value"></td>
                        {% endfor %}
                        <td>
                            <button id="submitBtn" type = "submit" class="btn btn-success" >Search</button>
                            <a class="btn btn-danger" href="" role="button">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        {% if data %}
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        {% for column in Director_columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>
</html>