<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center px-5 py-3">
            <h1>{{ table_name }} - Search Results</h1>
            <a class="btn btn-primary" href="/" role="button">Home</a>
        </div>
        <div>
            <table id="searchAndInsertButton" class="table">
                <tr>
                    <td>
                        <button class="btn btn-primary" id="insertBtn" onclick="insertRows()">Insert Rows</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" id="searchRowBtn" onclick="searchRows()">Search</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" id="deleteRowBtn" onclick="deleteRows()">Delete a Row</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="location.href='/view_table?table_name={{ table_name }}'">Back</button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <a class="btn btn-danger d-none" id="cancelDelete" onclick="cancelDelete()" role="button">Cancel Delete</a>
        </div>
        <form id="deleteForm" method="post" action="/delete_and_update_rows?table_name={{table_name}}">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                        <td name="deleteRow" class="d-none">
                            <button name="rowValue" type="submit" class="btn btn-danger" value="{{ row }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

        <form id="insertForm" method="post" action="/submit_rows?table_name={{table_name}}">
            <table id="insertTable" class="table table-striped d-none" style="width:100%">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr id="newRow">
                        {% for _ in columns %}
                        <td><input type="text" class="form-control" name="column_values" placeholder="Enter value"></td>
                        {% endfor %}
                        <td>
                            <button id="submitBtn" type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-danger" href="javascript:window.location.reload();" role="button">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <form id="searchForm" method="post" action="/search_rows?table_name={{table_name}}">
            <table id="searchTable" class="table table-striped d-none" style="width:100%">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr id="searchRow">
                        {% for _ in columns %}
                        <td><input type="text" class="form-control" name="search_values" placeholder="Enter value"></td>
                        {% endfor %}
                        <td>
                            <button id="searchBtn" type="submit" class="btn btn-success">Search</button>
                            <a class="btn btn-danger" href="javascript:window.location.reload();" role="button">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>